/*
nav li a:hover,
nav li a.router-link-active,
nav li a.router-link-exact-active {
  background-color: rgb(207, 207, 207);
  cursor: pointer;
}*/
*{
  font-family: "Verdana", Geneva, sans-serif; 
}
a.btn-new-contact {
  background: #69d477;
  color:white;
  border-radius: 20px;
}
a.btn-new-contact:hover {
  background: #53a86f;
  color:white;
}
a.btn-new-contact::before{
  content: "\F4FE";
  font-family: "bootstrap-icons";
  font-size: large; 
}